<nav class="navbar navbar-expand-md fixed-top navbar-dark estilo">
  <a class="navbar-brand" href="#">DeliverEats ! </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href=""
          >Pedido de "lo que sea"<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
