<div class="container bg-light">
  <br>
  <h4 class="container-fluid">Cobro: </h4>
  <div id="divFormulario2" class="container-fluid">
    <br>
    <form name="formFormaPago" [formGroup]="formFormaPago">
      <div class="form-group row">
        <label class="col-form-label col-sm-5 col-sm-offset-1">
          Seleccione la forma de pago </label>
        <label class="col-form-label col-sm-2 offset-2"><span class="text-danger fas fa-exclamation-circle" *ngIf="((formFormaPago.controls.precio.touched || enviado ) && formFormaPago.controls.precio.errors?.pattern) || (enviado && formFormaPago.invalid) "></span>
          Total: </label>
        <input type="text" name="Nombre" class="form-control col-sm-3" formControlName="precio" [ngClass]="{'is-invalid': (formFormaPago.controls.precio.touched || enviado) && formFormaPago.controls.precio.errors}" /> 
      </div>

      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" (click)="ActivarEfectivo()">Efectivo
          </label>
        </div>
        <div class="form-check-inline offset-4">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" (click)="ActivarVISA()">VISA tarjeta de crédito
          </label>
        </div>
    </form>
<br>
<br>
    <form name="formVISA" [formGroup]="formVISA">
      <div *ngIf="desplegarVISA == 'SI'">
          <div class="form-group row">
              <span class="text-danger fas fa-exclamation-circle" *ngIf="((formVISA.controls.nombreTitular.touched || enviado ) && (formVISA.controls.nombreTitular.errors?.minlength|| formVISA.controls.nombreTitular.errors?.maxlength)) || (enviado && formVISA.invalid)" ></span>
              <label class="col-form-label col-sm-2 col-sm-offset-1">
              Nombre titular: </label>
              <div class="col-sm-3">
                  <input type="text" name="Nombre" class="form-control" formControlName="nombreTitular" [ngClass]="{'is-invalid': (formVISA.controls.nombreTitular.touched || enviado) && formVISA.controls.nombreTitular.errors}" />
              </div>
              <span class="text-danger fas fa-exclamation-circle" *ngIf="((formVISA.controls.apellidoTitular.touched || enviado ) && (formVISA.controls.apellidoTitular.errors?.minlength|| formVISA.controls.apellidoTitular.errors?.maxlength)) || (enviado && formVISA.invalid)" ></span>
              <label class="col-form-label col-sm-2 col-sm-offset-1">
              Apellido titular: </label>
              <div class="col-sm-3">
              <input type="text" name="Nombre" class="form-control" formControlName="apellidoTitular" [ngClass]="{'is-invalid': (formVISA.controls.apellidoTitular.touched || enviado) && formVISA.controls.apellidoTitular.errors}" />
              </div>
          </div>

          <div class="form-group row">
              <span class="text-danger fas fa-exclamation-circle" *ngIf="((formVISA.controls.numeroTarjeta.touched || enviado ) && formVISA.controls.numeroTarjeta.errors?.pattern) || (enviado && formVISA.invalid) "></span>
              <label class="col-form-label col-sm-2 col-sm-offset-1">
                  Número de tarjeta: </label>
              <div class="col-sm-3">
                  <input type="text" name="Nombre" class="form-control" formControlName="numeroTarjeta" [ngClass]="{'is-invalid': (formVISA.controls.numeroTarjeta.touched || enviado) && formVISA.controls.numeroTarjeta.errors}" />
              </div>
              <span class="text-danger fas fa-exclamation-circle" *ngIf="((formVISA.controls.codigoTarjeta.touched || enviado ) && formVISA.controls.codigoTarjeta.errors?.pattern) || (enviado && formVISA.invalid) "></span>
              <label class="col-form-label col-sm-2 col-sm-offset-1">
                  CVC: </label>
              <div class="col-sm-3">
                  <input type="text" name="Nombre" class="form-control" formControlName="codigoTarjeta" [ngClass]="{'is-invalid': (formVISA.controls.codigoTarjeta.touched || enviado) && formVISA.controls.codigoTarjeta.errors}" />
              </div>
          </div>
      </div>
    </form>
    <form name="formEFECTIVO" [formGroup]="formEFECTIVO">
      <div *ngIf="desplegarEfectivo == 'SI'">
          <div class="form-group row">
              <span class="text-danger fas fa-exclamation-circle" *ngIf="((formEFECTIVO.controls.monto.touched || enviado ) && formEFECTIVO.controls.monto.errors?.pattern) || (enviado && formEFECTIVO.invalid) "></span>
              <label class="col-form-label col-sm-2 col-sm-offset-1">
              Monto: </label>
              <div class="col-sm-2">
                  <input type="text" name="Nombre" class="form-control" formControlName="monto" [ngClass]="{'is-invalid': (formEFECTIVO.controls.monto.touched || enviado) && formEFECTIVO.controls.monto.errors}" />
              </div>
          </div>
      </div>
    </form>

<br>
<form name="formRECEPCION" [formGroup]="formRECEPCION">
  <label class="col-form-label col-sm-4 offset-2">
      ¿Cuándo desea recibirlo? </label>

  <div class="form-check offset-4">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" (click)="DesactivarFechaHs()">Lo antes posible
      </label>
  </div>
  <div class="form-check offset-4">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" (click)="ActivarFechaHs()">Fecha y hora determinada
        <div class="input-group" *ngIf="desplegarFechaHs == 'SI'">
          <span class="text-danger" *ngIf="(formRECEPCION.controls.fecha.touched || enviado) && formRECEPCION.controls.fecha.errors?.required"></span>
          <input type="text" name="Fecha" class="form-control col-lg-5" placeholder="dd/MM/AAAA" formControlName="fecha" [ngClass]="{'is-invalid': (formRECEPCION.controls.fecha.touched || enviado)  && formRECEPCION.controls.fecha.errors}"/>
          <label>&nbsp;</label>
          <span class="text-danger fas fa-exclamation-circle" *ngIf="((formRECEPCION.controls.hora.touched || enviado ) && formRECEPCION.controls.hora.errors?.pattern) || (enviado && formRECEPCION.invalid) "></span>
          <input type="time" class="form-control col-lg-4" placeholder="Hs" formControlName="hora" [ngClass]="{'is-invalid': (formRECEPCION.controls.hora.touched || enviado) && formRECEPCION.controls.hora.errors}"/>
        </div>
      </label>
  </div>
</form>

<br>

<div >
    <button type="button" routerLink="/pedido" class="btn btn-dark">
      <span class="fas fa-arrow-left"> </span>
      Volver
    </button>
    
    <button type="button" class="btn btn-dark offset-9" (click)="Confirmar()">
      <span class="fas fa-arrow-right"> </span>
      Confirmar
    </button>
  </div>

</div>
</div>