<div class="bg-light">
  <br>
  <h4 class="container-fluid">Tu pedido: </h4>
  <div id="divFormulario1" class="container-fluid">
      <br>
      <form name="formPrimero">
        <h5>Producto
        <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="ActivarProducto()">
          <span class="fa fa-arrow-alt-circle-right" aria-hidden="true" *ngIf="desplegarProducto == 'NO'"></span>
        </button>
        <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="DesactivarProducto()">
          <span class="fa fa-arrow-alt-circle-left" aria-hidden="true" *ngIf="desplegarProducto == 'SI'"></span>
        </button>
      </h5>
        <div id="campoProductos" class="container-fluid" *ngIf="desplegarProducto == 'SI'">
          <label class="label label-primary col-lg-2">Productos:</label>
          <input type="text" class="col-lg-9" formControlName="productos">
          <button type="button" name="btnAdjuntar" class="btn brn-primary" >
            <span class="fa fa-camera" aria-hidden="true"></span>
          </button>
        </div>
        <br>
        <h5>Direccion Comercio
          <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="ActivarComercio()">
            <span class="fa fa-arrow-alt-circle-right" aria-hidden="true" *ngIf="desplegarComercio == 'NO'"></span>
          </button>
          <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="DesactivarComercio()">
            <span class="fa fa-arrow-alt-circle-left" aria-hidden="true" *ngIf="desplegarComercio == 'SI'"></span>
          </button>
        </h5>
        <div id="campoComercio" class="container-fluid" *ngIf="desplegarComercio == 'SI'">
          <label class="label label-primary col-lg-2">Calle: </label>
          <input type="text" class="col-lg-9" formControlName="calleComercio">
          <label class="label label-primary col-lg-2">Numero: </label>
          <input type="text" class="col-lg-9" formControlName="numeroComercio">
          <label class="label label-primary col-lg-2">Ciudad: </label>
          <input type="text" class="col-lg-9" formControlName="ciudadComercio">
          <label class="label label-primary col-lg-2">Referencia: </label>
          <input type="text" class="col-lg-9" formControlName="refComercio">
        </div>
        <br>
        <h5>Direccion Entrega
          <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="ActivarEntrega()">
            <span class="fa fa-arrow-alt-circle-right" aria-hidden="true" *ngIf="desplegarEntrega == 'NO'"></span>
          </button>
          <button type="button" name="btnAdjuntar" class="btn brn-primary" (click)="DesactivarEntrega()">
            <span class="fa fa-arrow-alt-circle-left" aria-hidden="true" *ngIf="desplegarEntrega == 'SI'"></span>
          </button>
        </h5>
        <div id="campoEntrega" class="container-fluid" *ngIf="desplegarEntrega == 'SI'">
          <label class="label label-primary col-lg-2">Calle: </label>
          <input type="text" class="col-lg-9" formControlName="calleEntrega">
          <label class="label label-primary col-lg-2">Numero: </label>
          <input type="text" class="col-lg-9" formControlName="numeroEntrega">
          <label class="label label-primary col-lg-2">Ciudad: </label>
          <input type="text" class="col-lg-9" formControlName="ciudadEntrega">
          <label class="label label-primary col-lg-2">Referencia: </label>
          <input type="text" class="col-lg-9" formControlName="refEntrega">
        </div>
          
      </form>
  </div>
</div>
