<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet"> 

<div class="container">
  <br />
  <h4 class="container-fluid">Tu pedido:</h4>
  <div id="divFormulario1" class="container-fluid">
    <br />
    <form name="formPrimero" [formGroup]="formPrimero">
      <h5>
        Producto
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="ActivarProducto()"
        >
          <span
            class="fa fa-arrow-alt-circle-right"
            aria-hidden="true"
            *ngIf="desplegarProducto == 'NO'"
          ></span>
        </button>
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="DesactivarProducto()"
        >
          <span
            class="fa fa-arrow-alt-circle-left"
            aria-hidden="true"
            *ngIf="desplegarProducto == 'SI'"
          ></span>
        </button>
      </h5>
      <div
        id="campoProductos"
        class="container-fluid"
        *ngIf="desplegarProducto == 'SI'"
      >
        <div class="form-group row">
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.productos.touched || enviado) &&
                (formPrimero.controls.productos.errors?.minlength ||
                  formPrimero.controls.productos.errors?.maxlength)) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Productos:
          </label>
          <div class="col-sm-3">
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="productos"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.productos.touched || enviado) &&
                  formPrimero.controls.productos.errors
              }"
            />
          </div>
          <div class="col-sm-3 my-2">
            <input
              type="file"
              #file
              placeholder="Seleccione una imagen" 
            />
          </div>
        </div>
      </div>

      <br />

      <h5>
        Direccion Comercio
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="ActivarComercio()"
        >
          <span
            class="fa fa-arrow-alt-circle-right"
            aria-hidden="true"
            *ngIf="desplegarComercio == 'NO'"
          ></span>
        </button>
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="DesactivarComercio()"
        >
          <span
            class="fa fa-arrow-alt-circle-left"
            aria-hidden="true"
            *ngIf="desplegarComercio == 'SI'"
          ></span>
        </button>
      </h5>
      <div
        id="campoComercio"
        class="container-fluid"
        *ngIf="desplegarComercio == 'SI'"
      >
        <div class="form-group row">
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.calleComercio.touched || enviado) &&
                (formPrimero.controls.calleComercio.errors?.minlength ||
                  formPrimero.controls.calleComercio.errors?.maxlength)) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Calle:
          </label>
          <div class="col-sm-3">
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="calleComercio"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.calleComercio.touched || enviado) &&
                  formPrimero.controls.calleComercio.errors
              }"
            />
          </div>
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.numeroComercio.touched || enviado) &&
                formPrimero.controls.numeroComercio.errors?.pattern) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Numero:
          </label>
          <div class="col-sm-3">
            <input
              type="number"
              name="Nombre"
              class="form-control"
              formControlName="numeroComercio"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.numeroComercio.touched || enviado) &&
                  formPrimero.controls.numeroComercio.errors
              }"
            />
          </div>
        </div>

        <div class="form-group row">
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.ciudadComercio.touched || enviado) &&
                (formPrimero.controls.ciudadComercio.errors?.minlength ||
                  formPrimero.controls.ciudadComercio.errors?.maxlength)) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Ciudad:
          </label>
          <div class="col-sm-3">
            <select
              class="form-control"
              name="Activo"
              formControlName="ciudadComercio"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.ciudadComercio.touched || enviado) &&
                  formPrimero.controls.ciudadComercio.errors
              }"
            >
              <option *ngFor="let items of Items" value="items.nombre">
                {{ items.nombre }}
              </option>
            </select>
          </div>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Referencia:
          </label>
          <div class="col-sm-3">
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="refComercio"
              maxlength="55"
            />
          </div>
        </div>

        <div class="form-group row">
          <button type="button" class="btn boton1 col-sm-2 offset-9" (click)="MostrarPopUp()">
            <span class="fas fa-map-marked-alt"> </span>
            Busque por mapa
          </button>
        </div>

      </div>
      <!--
      <div class="col-sm-6 offset-3">
        <google-map></google-map>
      </div>  
    -->
    

      <br />

      <h5>
        Direccion Entrega
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="ActivarEntrega()"
        >
          <span
            class="fa fa-arrow-alt-circle-right"
            aria-hidden="true"
            *ngIf="desplegarEntrega == 'NO'"
          ></span>
        </button>
        <button
          type="button"
          name="btnAdjuntar"
          class="btn brn-primary"
          (click)="DesactivarEntrega()"
        >
          <span
            class="fa fa-arrow-alt-circle-left"
            aria-hidden="true"
            *ngIf="desplegarEntrega == 'SI'"
          ></span>
        </button>
      </h5>
      <div
        id="campoEntrega"
        class="container-fluid"
        *ngIf="desplegarEntrega == 'SI'"
      >
        <div class="form-group row">
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.calleEntrega.touched || enviado) &&
                (formPrimero.controls.calleEntrega.errors?.minlength ||
                  formPrimero.controls.calleEntrega.errors?.maxlength)) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Calle:
          </label>
          <div class="col-sm-3">
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="calleEntrega"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.calleEntrega.touched || enviado) &&
                  formPrimero.controls.calleEntrega.errors
              }"
            />
          </div>
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.numeroEntrega.touched || enviado) &&
                formPrimero.controls.numeroEntrega.errors?.pattern) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Numero:
          </label>
          <div class="col-sm-3">
            <input
              type="number"
              name="Nombre"
              class="form-control"
              formControlName="numeroEntrega"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.numeroEntrega.touched || enviado) &&
                  formPrimero.controls.numeroEntrega.errors
              }"
            />
          </div>
        </div>

        <div class="form-group row">
          <span
            class="text-danger fas fa-exclamation-circle"
            *ngIf="
              ((formPrimero.controls.ciudadEntrega.touched || enviado) &&
                (formPrimero.controls.ciudadEntrega.errors?.minlength ||
                  formPrimero.controls.ciudadEntrega.errors?.maxlength)) ||
              (enviado && formPrimero.invalid)
            "
          ></span>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Ciudad:
          </label>
          <div class="col-sm-3">
            <select
              class="form-control"
              name="Activo"
              formControlName="ciudadEntrega"
              [ngClass]="{
                'is-invalid':
                  (formPrimero.controls.ciudadEntrega.touched || enviado) &&
                  formPrimero.controls.ciudadEntrega.errors
              }"
            >
              <option *ngFor="let items of Items" value="items.nombre">
                {{ items.nombre }}
              </option>
            </select>
          </div>
          <label class="col-form-label col-sm-2 col-sm-offset-1">
            Referencia:
          </label>
          <div class="col-sm-3">
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="refEntrega"
              maxlength="55"
            />
          </div>
        </div>
      </div>

      <br />

      <div class="row justify-content-end">
        <button
          type="button"
          routerLink="/cobro"
          class="btn boton2"
          *ngIf="estado == 'Confirmado'"
        >
          <span class="fas fa-arrow-right"> </span>
          Continuar
        </button>
        <button
          type="button"
          class="btn boton1"
          (click)="Confirmar()"
          *ngIf="estado == 'No confirmado'"
        >
          <span class="fas fa-check"> </span>
          Confirmar
        </button>
      </div>

      <br />
    </form>
  </div>
</div>

<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <a id="btn-cerrar-popup" class="btn-cerrar-popup" (click)="CerrarPopUp()"><i class="fas fa-times"></i></a>
    <h4 id="titulo1">Búsqueda por Google Maps</h4>
    <form action="">
      <div class="col-sm-6">
        <google-map width="535" height = "430" [center] = "position" [zoom] = "zoom">
          <map-marker
            *ngFor = "let m of markers"
            [position] = "m.position"
            [label] = "m.label"
            (click) = "ObtenerDatos()"
            (markerClick)="markerCliqueado(m)">
          </map-marker>
        </google-map>
      </div>
      <br />
      <input type="submit" class="btn-submit" value="Aceptar" (click)="CerrarPopUp()">
    </form>
  </div>
</div>
